@font-face {
  font-family: 'Tangerine';
  src: url('./fonts/Tangerine-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poiret One';
  src: url('./fonts/PoiretOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
